.border {
  width: 500px;
  height: 210px;
  border: black solid 2px;
  position: relative;
}

.cat1,
.cat2,
.heart {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
}

.heart {
  bottom: 100px;
  left: 180px;
  opacity: 0;
  transition: opacity 1s 1.5s;
}

.cat1 img,
.cat2 img,
.heart img {
  height: 100px;
}

.cat2 img {
  transform: scaleX(-1);
  height: 95px;
}

.cat1 {
  left: 0px;
  transition: left 1s ease-in;
  bottom: 10px;
}

.cat2 {
  left: 400px;
  bottom: 18px;
  transition: left 1s ease-in-out 0.5s;
}

.border:active .cat1 {
  left: 150px;
}

.border:active .cat2 {
  left: 232px;
}

.border:active .heart {
  opacity: 1;
}

button {
  position: absolute;
  bottom: 3px;
  left: 35%;
  outline: none;
}

button:hover {
  background-color: grey;
  color: white;
}

.border :nth-child(5) {
  position: absolute;
  margin-left: 15px;
  margin-top: 155px;
}

.border :nth-child(6) {
  position: absolute;
  margin-left: 300px;
  margin-top: 40px;
  height: 30px;
}

.border :nth-child(7) {
  position: absolute;
  margin-left: 360px;
  margin-top: 155px;
  height: 52px;
}

.border :nth-child(8) {
  position: absolute;
  margin-left: 100px;
  margin-top: 70px;
  height: 30px;
}

.border :nth-child(9) {
  position: absolute;
  margin-left: 450px;
  margin-top: 20px;
  height: 20px;
}

.border :nth-child(10) {
  position: absolute;
  margin-left: 5px;
  margin-top: 30px;
}
