.border {
  width: 500px;
  height: 300px;
  border: black solid 2px;
  position: relative;
  background-image: url(./assets/img/beach.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
}

.cat1,
.cat2,
.heart {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
}

.heart {
  bottom: 100px;
  left: 180px;
  opacity: 0;
  transition: opacity 1s 1.5s;
}

.cat1 img,
.cat2 img,
.heart img {
  height: 100px;
}

.cat2 img {
  transform: scaleX(-1);
  height: 95px;
}

.cat1 {
  left: 0px;
  transition: left 1s ease-in;
  bottom: 10px;
}

.cat2 {
  left: 400px;
  bottom: 15px;
  transition: left 1s ease-in-out 0.5s;
  z-index: 1;
}

.around:active .cat1 {
  left: 150px;
}

.around:active .cat2 {
  left: 232px;
}

.around:active .heart {
  opacity: 1;
}

button {
  outline: none;
  margin-top: 10px;
  margin-left: 180px;
}

button:hover {
  background-color: grey;
  color: white;
}

.border :nth-child(4) {
  position: absolute;
  margin-left: 350px;
  margin-top: 250px;
  height: 30px;
}

.border :nth-child(5) {
  position: absolute;
  margin-left: 0px;
  margin-top: 250px;
}

.border :nth-child(6) {
  position: absolute;
  margin-left: 310px;
  margin-top: 160px;
  height: 50px;
}

.border :nth-child(7) {
  position: absolute;
  margin-left: 390px;
  margin-top: 10px;
  height: 100px;
  animation-name: sunny;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

.border :nth-child(8) {
  height: 100px;
  margin-top: 10px;
  margin-left: 500px;
  animation-name: birds;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes birds {
  0% {
    margin-left: 500px;
  }
  100% {
    margin-left: -200px;
  }
}

@keyframes sunny {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
